{% extends 'base/chall/chall.html' %}
{% block header_chall %}
<span class="text">Cryptography</span>
{% endblock header_chall %}
<!--when access crypto category-->
{% block crypto_category %}
<div class="container mt-1">
  <div class="row">
    {% for i in crypto %}
    <div class="col-md-2 col-sm-6" style="padding:30px 20px;">
      <div class="card card-block" data-bs-toggle="modal" data-bs-target="#exampleModal" chall-name = "{{i.chall_name}}" chall-decription="{{i.decription}}" chall-link="{{i.link}}">
        <img src="{{i.img}}" alt="Photo of sunset">
        <h5 class="card-title  mt-2 mb-2 text-center">{{i.chall_name}}</h5>
        <h5 class="card-title  mt-2 mb-2 text-center">{{i.point}} points</h5>
      </div>
    </div>
    {% endfor %}


  </div>
</div>



{% endblock crypto_category %}