{% extends 'main.html' %}
{% block header_text %}
<span class="text">Teams</span>
{% endblock header_text %}



{% block content %}
<!--<a href="{% url 'create_team' %}"> U don't have team ??? </a>-->
<div class="container">
	<div id="score">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Team Name</th>
						<th>Bio</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					{% comment %} <tr>
						<td>
							<h6 style="color: #008cba;">1</h6>
						</td>
						<td>
							<h6 style="color: #008cba;">Cut3_Guys</h6>
						</td>
						<td>
							<h6 style="color: #008cba;">Cut3 Guys in your area</h6>
						</td>
						<td>
							<h6 style="color: #008cba;">4/10</h6>
						</td>
					</tr> {% endcomment %}
					{% for team in teams %}
					<tr>
						<td>
							<a href="/team/{{team.name}}"><h6 style="color: #008cba;">{{team.name}}</h6></a>
						</td>
						<td>
							<h6 style="color: #008cba;">{{team.description}}</h6>
						</td>
						<td>
							<h6 style="color: #008cba;">{{team.score}}</h6>
						</td>
					</tr>
				
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div> 

{% endblock content %}

