{% extends 'main.html' %}
{% block header_text %}
<span class="text">Users</span>
{% endblock header_text %}



{% block content %}
<!--<a href="{% url 'create_team' %}"> U don't have team ??? </a>-->
<div class="container">
	<div id="score">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
                        <th>Team</th>
					</tr>
				</thead>
				<tbody>
					{% comment %} <tr>
						<td>
							<h6 style="color: #008cba;">1</h6>
						</td>
						<td>
							<h6 style="color: #008cba;">Cut3_Guys</h6>
						</td>
						<td>
							<h6 style="color: #008cba;">Cut3 Guys in your area</h6>
						</td>
						<td>
							<h6 style="color: #008cba;">4/10</h6>
						</td>
					</tr> {% endcomment %}
					{% for user in user %}
					<tr>
						<td>
							<h6 style="color: #008cba;">{{user.username}}</h6>
						</td>
                        <td>
                            <h6 style="color: #008cba;">{{user.groups.get}}</h6>        
                        </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div> 

{% endblock content %}